.root {
  display: flex;
  align-items: center;
}

.dots {
  gap: 4px;
}

.segments {
  gap: 8px;
}

.step {
  background-color: var(--rs-color-background-neutral-faded);
  opacity: 0.4;
  border-radius: 4px;
  transition: opacity 225ms ease-in-out;
}

.dots .step {
  width: 8px;
  height: 8px;
}

.segments .step {
  width: 32px;
  height: 8px;
}

.step.active {
  background-color: var(--rs-color-foreground-neutral);
  opacity: 1;
}
